body{
    background-color: #ececec;
    text-align: center;
    font-family: Courier;
}

.container{
    width: 500px;
    border: 1px solid #333;
    margin: auto;
    padding: 15px;
}

h1{
    color: blueviolet;
}
p{
    font-size: 18px;
}